<div class="post-container">

  <div class="content" (click)="setCurrentPost()">
    <h2>{{post.name}}</h2>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio deleniti obcaecati quod minus ex eveniet sapiente in sunt architecto, corporis facere qui quos omnis fuga. Harum, dolore provident. Accusantium ad quae provident! Eos iusto doloremque sequi vel similique dolorem, ipsam quia consequatur eum, tenetur officia officiis deserunt veritatis aperiam nulla?</p>
    <img class="user" src="../../../assets/img/miso.png" alt="">
    <h3 class="rola">   {{post.publisher.type}}: <span>{{post.publisher.name}}</span></h3>
  </div>
  
  <h3 id="likes"class="like likeM">{{post.likes}}</h3>
  <i  (click)="changeLike()" class="like  fa fa-heart-o" aria-hidden="true"></i>
  <img class="img" src={{post.imageUrl}} alt="">
</div>
