/* You can add global styles to this file, and also import other style files */
 @import "./lib/shared_styles/_font.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "mulish-bold";
}

body{
  background-color: #fafafa;
}
