/* You can add global styles to this file, and also import other style files */
 @import "./lib/shared_styles/_font.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "mulish-bold";
}

body{
  background-image: url(../../t-hackathon/src/assets/img/back.jpg);
  background-color: #fafafa;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
