@import "../../../../lib/shared_styles/_colors.scss";
@import "../../../../lib/shared_styles/_font.scss";

.expert-container {
  width: 98%;
  background-color: white;
  margin: auto;
  padding: 20px 20px 10px 20px;
  position: relative;
  border: 1px solid $post_card;
  margin-bottom: 10px;
  border-radius: 8px;

  .line-1{
    width: 60%;
    border: 1px solid $post_card;

  }
  .content{
    width: 55vw;
  }

  .type-mentor-container{

    display: flex;
    justify-content: space-between;

    p{
      font-size: 20px;
    }

    .jobtype {
      text-transform: uppercase;

      span{
        text-transform: lowercase;
        color: rgb(161, 13, 161);
        font-size: 25px;
      }
    }

    .mentor{
      span{

      }
    }
  }

  p{
    color: $text;
    margin-bottom: 20px;
  }

  .heading-button-container{
    display: flex;
    align-items: center;

    h1{
      color: black;
      font-family: "mulish-bold";
      margin-bottom: 0px;
    
    }

    button{
        position: absolute;
        right:25px;
      background-color: green;
      width: auto;
      height: auto;
      padding: 10px;
      border: none;
      border-radius: 8px;
      color: white;
      font-size: 15px;
      transition: 0.3s ease-in-out;
    }

    button:hover{
      transform: scale(1.04);
    }
  }



  h3{
    font-size: 20px;
    font-family: "mulish-bold";
    margin-top: 20px;
  }




  .user{
    display: block;
    left: 20px;
    bottom: 10px;
    width: 40px;
    margin: 16px;
  }








}