<div class="heading">
  <h1>Logo</h1>
  <div class="menu-container">

    <div class="menu-item">
      <a (click)="home()" class="home">Domov</a>
      <!-- <img src="../../assets/img/home-icon.png" alt="" /> -->
    </div>

    <div *ngIf="user$.type != 'Študent'" class="menu-item">
      <a class="home">Vytvor Príspevok</a>
      <!-- <img src="../../assets/img/home-icon.png" alt="" /> -->
    </div>

    <div  class="menu-item">
      <a  (click)="findExpert()" class="home">Vyhladaj experta</a>
      <!-- <img src="../../assets/img/home-icon.png" alt="" /> -->
    </div>

    <div class="menu-item">
      <a  (click)="findJob()" class="home">Najdi pracu</a>
      <!-- <img src="../../assets/img/home-icon.png" alt="" /> -->
    </div>
   
  </div>
  <div class="logout-container">
    <a (click)="onLogout()">Odhlásiť sa</a>
  </div>
</div>
<hr class="login-line" />
<div class="main-container">
  <router-outlet></router-outlet>

  <div class="login-container" *ngIf="user$!=null">
    <img src="../../assets/img/miso.png" alt="">
    <i class="camerabtn fa fa-camera" aria-hidden="true"></i>
    <h3 class="meno"> {{user$.type}}: <br><span>{{user$.name}} {{user$.lastname}}</span></h3>
    <hr>
    <h2 class="somedata">EMAIL:<br> <span>{{user$.email}}</span></h2>
    <h2 class="somedata">SKILL:<br><span *ngFor="let skill of user$.skills" >{{skill}}, </span></h2>
    <button>Uprav  <i class="fa fa-pencil" aria-hidden="true"></i></button>
  </div>

</div>
