<div class="heading">
  <h1><span>Catch Them All</span> - Portál</h1>
  <div class="menu-container">

    <div class="menu-item">
      <a class="home">Domov</a>
      <img src="../../assets/img/home-icon.png" alt="" />
    </div>

    <div class="menu-item">
      <a class="home">Vytvor Príspevok</a>
      <img src="../../assets/img/home-icon.png" alt="" />
    </div>
   
  </div>
  <div class="logout-container">
    <a (click)="onLogout()">Odhlásiť sa</a>
  </div>
</div>
<hr class="login-line" />
<div class="main-container">
  <router-outlet></router-outlet>
  <div class="login-container">
    <h2>Ahojky</h2>
  </div>
</div>
