@import "../../lib/shared_styles/_colors.scss";
@import "../../lib/shared_styles/_font.scss";

.heading {
  background-color: white;
  width: 100vw;
  height: 40px;
  //background-color: $top_nav;
  //box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  padding: 40px;
  border-bottom: 1px solid $post_card;

  .logo {
    width: 20%;
    margin: 10px;
  }

  a {
    cursor: pointer;
    padding: 30px;
    font-size: 17px;
  }

  .active {
    border-bottom: 2px solid black;
  }

  a:hover {
    border-bottom: 2px solid black;
  }

  h1 {
    color: $top_nav;
    font-family: "mulish-italic";
    span {
      font-size: 40px;
      text-transform: uppercase;
      float: left;
    }
  }

  .menu-container {
    display: flex;
    padding-right: 10%;

    img {
      width: 30px;
      transition: 0.3s ease-in-out;
      margin-right: 50px;
    }
    img:hover {
      transform: scale(1.1);
    }
  }
}

.main-container {
  width: 100vw;
  margin: 0;
  padding: 0;
  min-height: 98vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 90px;

  .posts-container {
    width: 63vw;
    height: 80vh;
    overflow: scroll;

    padding: 0;
    // background-color: red;
    // box-shadow: rgba(100, 100, 111, 0.2) 0px 10px 29px 0px;
  }

  .login-container {
    background-color: $login;
    width: 30vw;
    height: 80vh;
    border-radius: 8px;
    // background-color: green;
    //box-shadow: rgba(100, 100, 111, 0.2) 0px 10px 29px 0px;
    text-align: center;
    background-image: url(../../assets/img/background.png);
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    text-align: center;

    input[type="text"],
    input[type="password"] {
      width: 80%;
      border-radius: 8px;
      height: 40px;
      border: none;
    }

    form {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
    }
    label {
      color: white;
      float: left;
      margin: 10px;
      margin-top: 30px;
      font-size: 17px;
    }

    input[type="submit"] {
      background-color: $neznam;
      color: white;
      width: 40%;
      border: none;
      height: 40px;
      margin-top: 30px;
      margin-bottom: 7px;
      font-size: 17px;
    }

    a {
      color: white;
    }
  }
}

.login-container {
  position: relative;
  text-align: center;

  .co {
    font-size: 30px;
    margin-top: 10px;
    color: black;
    text-shadow: rgb(255, 255, 254) 1px 1px 5px;
  }

  .meno {
    color: white;
    font-size: 25px;
  }

  .somedata {
    font-size: 18px;
    margin-top: 10px;
    color: black;
    text-shadow: rgb(255, 255, 254) 1px 1px 5px;
    max-width: 90%;
    margin: auto;
    margin: 20px;

    span {
      color: white;
      font-size: 18px;
      text-shadow: none;
    }
  }

  hr {
    border: 1px solid white;
    margin: 10px;
    margin-bottom: 40px;
    margin-top: 15px;
  }

  img {
    width: 30%;
    margin-top: 30px;
  }

  .camerabtn {
    color: white;
    position: absolute;
    top: 120px;
    right: 140px;
    font-size: 40px;
    cursor: pointer;
  }

  button {
    position: absolute;
    bottom: 20px;
    right: 10px;
    width: 20%;
    font-size: 15px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    transition: 0.1s ease-in-out;
    color: #2f3336;
  }

  button:hover {
    border-bottom: 2px solid #2f3336;
  }
}

.logo {
}
