// @import "../../../lib/shared_styles/_colors.scss";
// @import "../../../lib/shared_styles/_font.scss";

.post-container {
  width: 90%;
  background-color: rgba(15, 15, 15, 0.199);
  margin: auto;
  margin-top: 20px;
  border-radius: 8px;
  padding: 20px 20px 50px 20px;
  position: relative;
  border: 2px solid rgba(7, 7, 7, 0.267);

  h2 {
    margin-bottom: 20px;
  }

  h3 {
    position: absolute;
    bottom: 20px;

    span {
      font-family: "mulish";
    }
  }
}
