<div class="content">
    
    <mat-form-field appearance="fill">
        <mat-label>Zručnosti</mat-label>
        <mat-select [formControl]="toppings" multiple>
          <mat-select-trigger>
            {{toppings.value?.[0] || ''}}
            <span *ngIf="(toppings.value?.length || 0) > 1" class="example-additional-selection">
              (+{{(toppings.value?.length || 0) - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
            </span>
          </mat-select-trigger>
          <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
        </mat-select>
      </mat-form-field>
      <i (click)="postSkill()" (keyup.enter)="postSkill()" class=" searchbtn fa fa-search" aria-hidden="true"></i>

      <div class="job-preview-container">
        <app-expert-preview></app-expert-preview>
        <app-expert-preview></app-expert-preview>
        <app-expert-preview></app-expert-preview>
        <app-expert-preview></app-expert-preview>
        <app-expert-preview></app-expert-preview>
      </div>
    
      <div class="expert-preview-container">
        <app-expert-preview></app-expert-preview>
        <app-expert-preview></app-expert-preview>
        <app-expert-preview></app-expert-preview>
        <app-expert-preview></app-expert-preview>
        <app-expert-preview></app-expert-preview>
      </div>

</div>
