<div class="heading">
  <h1><span>Catch Them All</span> </h1>
</div>


<div class="main-container">
  
  <div class="posts-container">
    <app-post-preview *ngFor="let post of posts$ | async"
    [post]="post"></app-post-preview>
    
  </div>


  <div class="login-container">
    <h2>Log-in</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onClickLogin(loginForm.value)" > 
      <label for="fname">Email</label>
      <input type= "text"  name="userName" placeholder="" 
         formControlName = "userName"> 
         <label for="fname">Heslo</label>
         <input type= "password"  name="pass" placeholder="" 
         formControlName = "pass"> 
      <input type="submit"  value="Log-in"> 
   </form>
   <a href=>Registruj sa</a>

  </div>
</div>
